.LSfooter {
    width: 100%;
    padding-top: 100px;
}
.LSheader {
    width: 100%;

}

.LoginSec-page-container {
    width: 100%;
    overflow-x: hidden;
}
.content-div {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 75px;
    padding-top: 40px;
  }

.middle-div {
    flex: 1;
    position: relative; 
    width:40%;
    margin-left: 30px;
    padding-right: 3vw;
}

.login-security-header-div {
    font-family: 'Inter', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

.login-security-header-div p {
    font-size: 16px;
    color: black;
    margin-top: 0;
}

.inputButtonWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%; 
}

.login-security-section {
    font-family: 'Inter', sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; 
    background-color: rgba(255, 255, 255, 1);
    /* box-sizing: border-box; */
    width: 40vw;
}

.update-password,
.new-password,
.confirm-new-password {
  margin-bottom: 20px;
}

.loginSec-horizontal-block {
    display: flex;
    justify-content: space-between;
    gap: 3.5vw;
    vertical-align: top;
}

.LSFirstTitle {
    font-weight: 600;
    line-height: 39px;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.LSSecondTitle {
    font-size: 12px;
    color: black;
    font-weight: 500;
    line-height: 14.5px;
    font-family: 'Inter', sans-serif;
}

.formInput,
.currPassword {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.formInput:focus,
.currPassword:focus {
  border-color: #888;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.line-horizontal {
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 1px;
    margin-bottom: 20px;
    align-items: center;
    align-self: center;
    background-color: black;
}

.horizontal-button {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    gap: 1px;
}


.loginSecButtons{
    width: 40%; 
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.LSth {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    color: black;
  }

.LSformLabel {
    font-weight: 700;
    display: block;
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
  }


.password-guideline {
    display: flex;
    color: black; 
    font-size: 12px; 
    line-height: 14px; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    width: 40%; 
    box-sizing: border-box; 
    padding: 5px 0; 
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.question-prompt-box {
  display: flex;
  width: 21vw;
}

@media (min-width: 1445px) {
    .content-div {
        padding-right: 5rem;
    }
}

@media (max-width: 932px) {
    .question-prompt-box{
        width: 90%;
    }
    .loginSec-horizontal-block {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-height: 480px) {
    .login-security-section {
        width: 45vw;
    }

    .formInput {
        width: 100%;
        max-width: none;
    }

    .LSheader {
        text-align: center;
    }

    .login-security-header-div {
        display: none; 
    }

}


@media (max-width: 768px) {

    .content-div {
        display: flex;
        flex-direction: column; 
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding-left: 20px; 
        padding-top: 40px;
        box-sizing: border-box; 
    }
    
    .middle-div {
        flex: 1;
        padding: 0 10px; 
        width: 100%;
    }
    
    .login-security-header-div {
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    
    .login-security-header-div h1 {
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }
    
    .login-security-header-div p {
        font-size: 16px;
        color: black;
        margin-top: 0;
    }
    
    .inputButtonWrapper {
        display: flex;
        flex-direction: column; 
        align-items: stretch; 
        gap: 10px; 
        width: 100%;
    }
    
    .login-security-section {
        font-family: 'Inter', sans-serif;
        border: 1px solid black;
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        width: 80vw; 
    }
    
    .update-password,
    .new-password,
    .confirm-new-password {
        margin-bottom: 20px;
    }
    
    .loginSec-horizontal-block {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        padding-right: 20px;
        vertical-align: top;
    }
    
    .LSFirstTitle {
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        text-align: left;
        font-family: 'Inter', sans-serif;
    }
    
    .LSSecondTitle {
        font-size: 12px;
        color: black;
        font-weight: 500;
        line-height: 14.5px;
        font-family: 'Inter', sans-serif;
    }
    
    .formInput,
    .currPassword {
        width: 100%; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
    }
    
    .formInput:focus,
    .currPassword:focus {
        border-color: #888;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    .line-horizontal {
        width: calc(100% + 40px);
        margin-left: -20px;
        height: 1px;
        margin-bottom: 20px;
        align-items: center;
        align-self: center;
        background-color: black;
    }
    
    .horizontal-button {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1px;
        flex-direction: column; 
    }
    
    .loginSecButtons {
        width: 100%;
        padding: 5px;
        border: none;
        background-color: white;
        color: black;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 30px;
    }
    
    .LSth {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
        color: black;
    }
    
    .LSformLabel {
        font-weight: 700;
        display: block;
        font-size: 16px;
        color: black;
        margin-bottom: 8px;
    }
    
    .password-guideline {
        display: block; 
        color: black;
        font-size: 12px;
        line-height: 14px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%; 
        box-sizing: border-box;
        padding: 5px 0;
        font-weight: 500;
    }
    
    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
}

/* Media query for mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    
    .inputButtonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 3px;
        width: 100%; 
    }
    .content-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 10px;
    }

    #LSWrapTable{
        height: 100%;
        border: 0px solid black;
        border-radius: 15px;
        margin: 20px 0;
        overflow: hidden;
        width: 100%;
        min-width: 320px;
    }

    .middle-div {
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin: 0;
    }

    .loginSec-horizontal-block {
        display: block;
        padding-right: 0;
        gap: 0;
    }

    .login-security-section {
        width: 100%;
    }

    .question-prompt-box {
        display: flex; 
        width: 100%; 
        justify-content: center; 
        padding: 10px; 
        margin-top: 60px;
        box-sizing: border-box; 
        text-align: center; 
    }

    .loginSecButtons {
        width: 100%;
    }

    .formInput,
    .currPassword {
        width: 100%;
        max-width: none;
    }

    .password-guideline {
        width: 100%;
        max-width: none;
    }

    .LSheader {
        text-align: center;
    }

    .login-security-header-div {
        display: none; 
    }

}


