.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    width: 27.778vw;
    background: white;
    padding-bottom: 2.083vw;
    border-radius: 0.278vw;
    margin-bottom: 100px;
  }


  
  .background {
    gap: 13.889vw;
    align-items: start;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    background: url('../../assets/loginBackground/background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(0, 0, 0);
  }
  
  .cover {
    display: flex;
  }
  
  /* Style for header (Login) */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625vw;
    width: 100%;
    margin-top: 2.778vw;
  }
  
  /* Style for text (Login) */
  .text {
    font-family: "Inter", Helvetica;
    color: #016594;
    font-size: 1.944vw;
    font-weight: 600;
  }
  
  /* Style for text (Underline below Login)) */
  .underline {
    width: 4.236vw;
    height: 0.417vw;
    background: white;
    border-radius: 0.625vw;
  }
  
  /* Style for inputs box background */
  .inputs {
    margin-top: 3.819vw;
    display: flex;
    flex-direction: column;
    gap: 1.736vw;
    margin-right: 2.083vw;
  }
  
  /* Style for input box background */
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 17.361vw;
    height: 2.778vw;
    background: white;
    position: relative;
  }
  
  /* Style for img icon */
  .input img {
    margin-left: 1.389vw;
  }
  
  
  /* Style for input box */
  .input input {
    padding-left: 1.042vw;
    margin-top: 0.039vw;
    height: 2.6vw;
    width: 16.061vw;
    background: transparent;
    border: 0.139vw solid #AFB1B6;
    border-radius: 0.417vw;
    font-size: 1.042vw;
  }
  
  /* Style for forgot-password button background */
  .forgot-password {
    font-family: "Inter", Helvetica;
    position: relative;
    width: 19.444vw;
    margin-top: 1.25vw;
    color: #016594;
    font-size: 0.903vw;
  }
  
  .sign-up {
    font-family: "Inter", Helvetica;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -2.083vw;
    width: 15.278vw;
    margin-top: 0.694vw;
    color: #016594;
    font-size: 0.903vw;
  }
  
  .sign-up span {
    margin-left: 1.389vw;
    font-weight: 200;
    color: black;
    cursor: pointer;
    padding: 0px;
    text-decoration: underline;
    font-weight: bold;
    font-family: Inter;
  }
  
  .submitContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 2.778vw;
    width: 4.514vw;
    height: 4.514vw;
    background: #015985;
    border-radius: 3.472vw;
    color: white;
    font-size: 0.694vw;
    font-weight: 100;
    cursor: pointer;
    border: none;
  }
  
  /* Remove any hover effects if they exist */

  
  .continue {
    height: 1.875vw;
    width: 1.875vw;
    cursor: pointer;
  }
  
  .error {
    position: absolute;
    font-family: Inter;
    color: rgb(246, 255, 0);
    font-size: 0.972vw;
    margin-top: 4.514vw;
    margin-left: 1.042vw;
  }
  
  .emailIcon {
    color: #797979;
    height: 1.181vw;
    width: 1.181vw;
    left: 0px;
    margin-left: 0.833vw;
    position: relative;
    bottom: 0px;
  }
  
  .verifyIcon {
    color: #797979;
    height: 1.181vw;
    width: 1.181vw;
    left: 0px;
    margin-left: 0.833vw;
    position: relative;
    top: 0px;
  }
  
  .send {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 19vw;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 0.972vw;
    cursor: pointer;
    font-family: Inter;
  }
  
  .countdown {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 19vw;
    text-decoration: underline;
    font-weight: bold;
    color: gray;
    font-size: 0.972vw;
    font-family: Inter;
  }
  
  .message {
    color: #f7f7f7;
    background-color: rgb(15, 142, 34);
    border: none; /* Remove the border */
    padding: 0.347vw 0.694vw;
    border-radius: 0.347vw; /* Match border-radius with input-container */
    /*box-shadow: 0px 0.278vw 0.278vw 0px rgba(0, 0, 0, 0.25); /* Match box-shadow with input-container */
    font-size: 0.694vw; /* Match font-size with input-container */
    font-family: "Inter", Helvetica;
    margin-top: -1.497vw;
    margin-bottom: -1.089vw;
    width: 80%; /* Match width with input-container */
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }
  
  .error-box {
    color: #721c24;
    background-color: #f8d7da;
    border: none; /* Remove the border */
    padding: 0.347vw 0.694vw;
    border-radius: 0.347vw; /* Match border-radius with input-container */
    /*box-shadow: 0px 0.278vw 0.278vw 0px rgba(0, 0, 0, 0.25); /* Match box-shadow with input-container */
    font-size: 0.694vw; /* Match font-size with input-container */
    font-family: "Inter", Helvetica;
    margin-top: -1.497vw;
    margin-bottom: -1.089vw;
    max-width: 70%; /* Match width with input-container */
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .inputType{
    position: absolute;
    font-size: .83333vw;
    color: #787878;
    background: white;
    top: -.6vw;
    left: .5vw;
    padding-left: .3vw;
    padding-right: .3vw;
}
  
  /* Media queries for mobile responsiveness */
  @media (max-width: 768px) and (pointer: coarse) {
    .container {
      box-sizing: content-box;
      width: 80vw;
      height: auto;
      padding: 5vw;
      margin-top: 20px;
      margin-bottom: 100px;
      padding-bottom: 10vw;
    }
  
    .background {
      gap: 5vw;
    }
  
    .header {
      margin-top: 10vw;
    }
  
    .text {
      font-size: 6vw;
    }
  
    .underline {
      width: 20vw;
      height: 1vw;
    }
  
    .inputs {
      margin-top: 5vw;
      gap: 5vw;
    }
  
    .input {
      width: 60vw;
      border-radius: 1vw;
      height: 10vw;
      margin-top: 4vw;
      background-color: white;
    }
  
    .input input {
      width: 55vw;
      padding-left: 4vw;
      height: 9.6vw;
      font-size: 4vw;
      border-radius: 1vw;
    }
  
    .forgot-password {
      width: 60vw;
      font-size: 3vw;
      padding-left: 0;
      margin-top: 3vw;
      margin-bottom: 5vw;
    }
    .sign-up {
      font-size: 4vw;
      padding-left: 0;
      margin-top: 3vw;
    }
  
    .sign-up {
      left: 0;
      width: auto;
      margin-top: 2vw;
    }
  
    .sign-up span {
      margin-left: 1vw;
    }
  
    .submitContainer {
      width: 15vw;
      height: auto;
      padding: 5vw;
      font-size: 5vw;
      border-radius: 10vw;
      margin-top: 5vw;
    }
  
    .continue {
      height: 4vw;
      width: 4vw;
    }
  
    .error {
      font-size: 4vw;
      margin-top: 10vw;
      margin-left: 2vw;
    }
  
    .emailIcon,
    .verifyIcon {
      height: 4vw;
      width: 4vw;
      margin-left: 2vw;
    }
  
    .send {
      position: absolute;
      display: flex;
      flex-direction: row;
      left: 61vw;
      text-decoration: underline;
      font-weight: bold;
      color: black;
      font-size: 4vw;
      cursor: pointer;
      font-family: Inter;
    }
    .countdown {
      position: absolute;
      display: flex;
      flex-direction: row;
      left: 81vw;
      text-decoration: underline;
      font-weight: bold;
      color: gray;
      font-size: 4vw;
      font-family: Inter;
    }
  
    .message,
    .error-box {
      font-size: 4vw;
      margin-top: -1vw;
      margin-bottom: 1vw;
      width: 58vw;
      padding: 1vw;
      border-radius: 1vw;
      height: 0vw auto;

      max-width: 70%; /* Match width with input-container */
      display: flex;
      justify-content: left;
      align-items: center;
      position: relative;
    }

    .inputType{
      position: absolute;
      font-size: 3.75vw;
      color: #787878;
      background: white;
      top: -2vw;
      left: 2vw;
      padding-left: .7vw;
      padding-right: .7vw;
  }
  }
  